{% extends "base.html" %}

{% block title %}حجز اوتوماتيك{% endblock %}

{% block styles %}
<style>
  h1 {
    text-align: center;
    color: black;
    margin-top: 50px;
  }
  .table {
    height: 200px;
    width: 100%;
    border-collapse: collapse;
    border-color: bisque;
    font-size: 18px; /* تكبير الخط */

  }
  .table th , .table td{
padding: 12px;
text-align: center;

  }
</style>
{% endblock %}

{% block content %}
<h1>جدول الأوتوماتيك</h1>
<div class="table">
<table border="1">
<tr>
    <th></th>
    <th colspan="3">السبت</th>
    <th colspan="3">الاحد</th>
    <th colspan="3">الاثنين</th>
    <th colspan="3">الثلاثاء</th>
    <th colspan="3">الاربعاء</th>
    <th colspan="3">الخميس</th>
</tr>
<tr>
    <td>الساعة 10 ص</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
<tr>
    <td>الساعة 11 ص</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
<tr>
    <td>الساعة 12 م</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
<tr>
    <td>الساعة 1 م</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
<tr>
    <td>الساعة 2 م</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
<tr>
    <td>الساعة 3 م</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
<tr>
    <td>الساعة 4 م</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
<tr>
    <td>الساعة 5 م</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
<tr>
    <td>الساعة 6 م</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
<tr>
    <td>الساعة 7 م</td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
    <td></td><td></td><td></td>
</tr>
</table>
</div>
{% endblock %}
